*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    <!--
        Autor: Aman Arabzadeh
        Date: 2023-07-22
        Was inspired by https://travistidwell.com/jsencrypt/demo/
    -->
*/

/*
    https://www.w3schools.com/css/default.asp
*/

body {
    background-color: #f4f4f4; /* Light gray background for improved contrast */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header{
    background-color: #222;  /* Dark gray background for better visibility */
    color: #fff;
    text-align: center;
    padding: 1.2rem  0;
}



section{
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    max-width: 32rem;
    width: 100%;
    background-color: #fff;  /* White background for better contrast with text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  /* Adding a subtle shadow for depth */
}


label,h2,h3{
    margin: 0.5rem 0;
    color: #333;   /* Darker text color for better readability */
}


textarea{
    width: 100%;
    padding: 0.5rem ;
    margin: 0.5rem 0;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}


select,button{
    margin: 0.5rem 0;
}

button{
    cursor: pointer;
    background-color: #007bff;  /* Blue button for better visibility */
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}


button:hover{
    background-color: #0056b3;
}